body{
    background-image: url(mrmen-clock.png);
  background-size: cover; 
  padding-bottom: 10%;
  height:100vh;
  }
  
  .clock {
    height: 500px;
    width: 500px;
    background-color:sandybrown;
    background-image: url('final.jpeg');
    background-size: cover;
    border-radius: 100%;
    border: 3px solid darkmagenta;
    margin: auto;
    position: absolute;
    top: 0;
    left: 55%;
    bottom: 0;
    right: 0%;
  }
  
  .twelve {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    width: 3px;
    height:15px;
    /*background: #111111;*/
    left: 0;
    top: 3%;
    right: 0;
    margin: 0 auto;
  }
  
  .three {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    width: 15px;
    height: 3px;
    top: 0;
    bottom: 0;
    right: 3%;
    margin: auto 0;
  }
  
  .six {
    position: absolute;
    width: 3px;
    height: 15px;
    font-size: 25px;
    
    left: 0;
    bottom: 3%;
    right: 0;
    margin: 0 auto;
  }
  
  .nine {
    position: absolute;
    width: 15px;
    height: 3px;
    font-size: 25px;
    font-weight: bold;
    /*background: #111111;*/
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto 0;
  }
  
  
  .center {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: #000;
    border-radius: 100%;
  }
  
  #second-hand {
    position: absolute;
    height: 160px;
    width: 2px;
    left: 0;
    right: 0;
    bottom: 160px;
    top: 0px;
    margin: auto;
    background: #000;
    /*-webkit-transform-origin: bottom;*/
    background: #ff4136;
  }
  
  #min-hand{
    position: absolute;
    height: 200px;
    width: 2px;
    left: 0;
    right: 0;
    bottom: 200px;
    top: 0px;
    margin: auto;
    background: #000;
    /*-webkit-transform-origin: bottom;*/
  }
  
  #hour-hand {
    position: absolute;
    height: 80px;
    width: 6px;
    left: 0;
    right: 0;
    bottom: 80px;
    top: 0px;
    margin: auto;
    background: #000;
    /*-webkit-transform-origin: bottom;*/
  }